<!--
<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
-->
<div class="message_success">

	<div class="message_thanks">Thanks for your message, <%= @contact.name %>.</div>

	<div class="message_asap">We'll get back to you at <%= @contact.email %>, asap!</div>

	<div class="message_create">We look forward to creating something incredible :) </div>

</div>