
<div class="network_background">
	<div class="we_transform">We transform</div>

	<div class="ideas">ideas</div>

	<div class="into_reality">into reality</div>

	<div class="lets_do_it">
		<form method="link" action="mailto:ideasnetwork@mit.edu" target="_blank">
			<input class="lets_do_it_button" type="submit" value="Let's do it!"></input>
		</form>
	</div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div data-0="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);" data-top="background-color:rgb(255,0,0);transform[bounce]:rotate(360deg);">WOOOT</div>

<div class="next"> Next section </div>

