
<div class="network_background">
	<div class="we_transform">We transform</div>

	<div class="ideas">ideas</div>

	<div class="into_reality">into reality</div>

	<div class="lets_do_it">
		<form method="link" action="mailto:ideasnetwork@mit.edu" target="_blank">
			<input class="lets_do_it_button" type="submit" value="Let's do it!"></input>
		</form>
	</div>
</div>

<div class="next"> Next section </div>