
<!-- Network Background and Home Section Content -->
<div class="network_background">
	<div class="we_transform">We transform</div>

	<div class="ideas">ideas</div>

	<div class="into_reality">into reality</div>

	<div class="lets_do_it">
		<form method="link" action="mailto:ideasnetwork@mit.edu" target="_blank">
			<input class="lets_do_it_button" type="submit" value="Let's do it!"></input>
		</form>
	</div>
</div>

<!-- Top Nav Bar -->
<div class="top_nav" data-0="transform[nice_curve]:translateY(0vh);" data-10p="transform[nice_curve]:translateY(5.5vh);">
	<img class="logo" src="../images/logo.png" />
	<div class='nav_box'>
		<a href="#"><div class="nav_what">what we do</div></a>
		<a href="#"><div class="nav_who">who does it</div></a>
		<a href="#"><div class="nav_lets">lets do it</div></a>
	</div>
</div>

<div class="next"> Next section </div>

