<div id="home"></div>

<!-- Network Background  -->
<div class="network_background">

	<!-- Top Nav Bar -->
	<div class="top_nav" data-0="transform[nice_curve]:translateY(0vh);" data-10p="transform[nice_curve]:translateY(5.5vh);">

		<a href="#home">
			<img class="logo" src="../images/logo.png"/>
		</a>

		<div class='nav_box'>

			<a href="#what">
				<div class="nav_what" data-94p="color:rgba(0, 0, 0);" data-95p="color:rgb(5, 5, 255);" data-189p="color:rgb(5, 5, 255);" data-190p="color:rgb(0,0,0);">what we do</div></a>

			<a href="#who">
				<div class="nav_who" data-189p="color:rgba(0, 0, 0);" data-190p="color:rgb(255, 0, 0);" data-284p="color:rgb(255,0,0);" data-285p="color:rgb(0,0,0);">who does it</div>
			</a>

			<a href="#do">
				<div class="nav_lets" data-284p="color:rgb(0,0,0);" data-285p="color:rgb(0,255,0);">let's do it</div>
			</a>

		</div>
	</div>

	<!-- First Section Home Content -->
	<div class="we_transform">We transform</div>

	<div class="ideas">ideas</div>

	<div class="into_reality">into reality</div>

	<div class="lets_do_it_home">
		<form method="link" action="mailto:ideasnetwork@mit.edu" target="_blank">
			<input class="lets_do_it_button" type="submit" value="Let's do it!"></input>
		</form>
	</div>


	<!-- What We Do Section -->
	<div id="what" class="what_anchor"></div>

	<div class="what_we_do">
		<div class="website_idea">You've got an idea for a website.</div>
		<div class="make_happen">We can make it happen.</div>
	</div>

	<!-- Who Does It Section -->
	<div id="who" class="who_anchor"></div>

	<div class="who_does_it">
		<div class="website_idea">You've got an idea for a website.</div>
		<div class="make_happen">We can make it happen.</div>
	</div>

	<!-- Let's Do It Section -->
	<div id="do" class="do_anchor"></div>

	<div class="lets_do_it">
		<div class="website_idea">You've got an idea for a website.</div>
		<div class="make_happen">We can make it happen.</div>
	</div>



</div>
















