// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Ideas Fade In

.ideas{
	text-align: center;
	position: absolute;
	width: 100%;
	font-family: Montserrat;
	animation: fadein 4s forwards;
	-webkit-animation: fadein 4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s forwards; /* Firefox < 16 */
    -ms-animation: fadein 4s forwards; /* Internet Explorer */
    -o-animation: fadein 4s forwards; /* Opera < 12.1 */
}

@keyframes fadein {
    from { opacity: 0; font-size: 0vmin; margin-top: 0vmin; }
    to   { opacity: 1; font-size: 32vmin; margin-top: 24vmin;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; font-size: 0vmin; margin-top: 0vmin; }
    to   { opacity: 1; font-size: 32vmin; margin-top: 24vmin; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; font-size: 0vmin; margin-top: 0vmin; }
    to   { opacity: 1; font-size: 32vmin; margin-top: 24vmin; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; font-size: 0vmin; margin-top: 0vmin; }
    to   { opacity: 1; font-size: 32vmin; margin-top: 24vmin;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; font-size: 0vmin; margin-top: 0vmin; }
    to   { opacity: 1; font-size: 32vmin; margin-top: 24vmin; }
}


// We transform drop in

.we_transform {
	font-size: 12vmin;
	font-family: Montserrat;
	text-align: center;
	position: absolute;
	width: 100%;

	margin-top: -15vmin;

	animation: wedropin 2s 4s forwards;
	-webkit-animation: wedropin 2s 4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: wedropin 2s 4s forwards; /* Firefox < 16 */
    -ms-animation: wedropin 2s 4s forwards; /* Internet Explorer */
    -o-animation: wedropin 2s 4s forwards; /* Opera < 12.1 */
}

/* Firefox < 16 */
@-moz-keyframes wedropin {
    from { margin-top: -15vmin; }
    to   { margin-top: 11.5vmin; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes wedropin {
    from { margin-top: -15vmin; }
    to   { margin-top: 11.5vmin; }
}

/* Internet Explorer */
@-ms-keyframes wedropin {
    from { margin-top: -15vmin; }
    to   { margin-top: 11.5vmin; }
}

/* Opera < 12.1 */
@-o-keyframes wedropin {
   	from { margin-top: -15vmin; }
    to   { margin-top: 11.5vmin; }
}



// Into reality drop in

.into_reality {
	font-size: 12vmin;
	font-family: Montserrat;
	text-align: center;
	position: absolute;
	width: 100%;

	margin-top: -15vmin;
	animation: idropin 2s 4s forwards;
	-webkit-animation: idropin 2s 4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: idropin 2s 4s forwards; /* Firefox < 16 */
    -ms-animation: idropin 2s 4s forwards; /* Internet Explorer */
    -o-animation: idropin 2s 4s forwards; /* Opera < 12.1 */
}

/* Firefox < 16 */
@-moz-keyframes idropin {
 5  from { margin-top: -15vmin; }
    to   { margin-top: 60vmin; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes idropin {
 5  from { margin-top: -15vmin; }
    to   { margin-top: 60vmin; }
}

/* Internet Explorer */
@-ms-keyframes idropin {
 5  from { margin-top: -15vmin; }
    to   { margin-top: 60vmin; }
}

/* Opera < 12.1 */
@-o-keyframes idropin {
 5 	from { margin-top: -15vmin; }
    to   { margin-top: 60vmin; }
}